// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
}
.carts {
  table {
    border-collapse: collapse;
  }
  td {
    padding: 0.5em;
  }
  td.quantity {
    white-space: nowrap;
  }
  td.quantity::after {
    content: " ×";
  }
  td.price {
    font-weight: bold;
    text-align: right;
  }
  tfoot {
    th, th.price {
      font-weight: bold;
      padding-top: 1em;
    }
    th {
      text-align: right;
    }
    th.price {
      border-top: solid thin;
    }
  }
  input[type="submit"] {
    background-color: #881;
    border-radius: 0.354em;
    border: solid thin #441;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;
  }
  input[type="submit"]:hover {
    background-color: #992;
  }
}
#cart {
  article {
    h2 {
      margin-top: 0;
    }
    background: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1.414em;
    @media (min-width: 30em) {
      margin: 0; // desktop doesn't need this margin
    }
  }
}